<p id="notice"><%= notice %></p>

<p>
  <b>Campaign publication:</b>
  <%= @campaign_publication_archive.campaign_publication_id %>
</p>

<p>
  <b>String:</b>
  <%= @campaign_publication_archive.string %>
</p>

<p>
  <b>Code:</b>
  <%= @campaign_publication_archive.code %>
</p>

<p>
  <b>Pub bio:</b>
  <%= @campaign_publication_archive.pub_bio %>
</p>

<p>
  <b>Description:</b>
  <%= @campaign_publication_archive.description %>
</p>

<p>
  <b>Version:</b>
  <%= @campaign_publication_archive.version %>
</p>

<p>
  <b>String:</b>
  <%= @campaign_publication_archive.string %>
</p>

<p>
  <b>Pub image:</b>
  <%= @campaign_publication_archive.pub_image %>
</p>

<p>
  <b>Publication type:</b>
  <%= @campaign_publication_archive.publication_type_id %>
</p>

<p>
  <b>Current approver:</b>
  <%= @campaign_publication_archive.current_approver %>
</p>

<p>
  <b>Publication status:</b>
  <%= @campaign_publication_archive.publication_status_id %>
</p>

<p>
  <b>Date final approved:</b>
  <%= @campaign_publication_archive.date_final_approved %>
</p>

<p>
  <b>Pub date:</b>
  <%= @campaign_publication_archive.pub_date %>
</p>

<p>
  <b>Campaign:</b>
  <%= @campaign_publication_archive.campaign_id %>
</p>

<p>
  <b>Observations:</b>
  <%= @campaign_publication_archive.observations %>
</p>


<%= link_to 'Edit', edit_campaign_publication_archive_path(@campaign_publication_archive) %> |
<%= link_to 'Back', campaign_publication_archives_path %>
