<h1>Listing approval_processes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Client</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @approval_processes.each do |approval_process| %>
  <tr>
    <td><%= approval_process.name %></td>
    <td><%= approval_process.client_id %></td>
    <td><%= link_to 'Show', approval_process %></td>
    <td><%= link_to 'Edit', edit_approval_process_path(approval_process) %></td>
    <td><%= link_to 'Destroy', approval_process, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Approval process', new_approval_process_path %>
