<% title "Clients" %>
<script type="text/javascript">
    $(document).ready(function(){
        var oTable = $("#list_table").dataTable({
            "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "_MENU_ per page",
                "oPaginate": {
                    "sPrevious": "Prev",
                    "sNext": "Next"
                }
            },
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [0]
            }]
        });

        $('#list_table_wrapper .dataTables_filter input').addClass("m-wrap medium"); // modify table search input
        $('#list_table_wrapper .dataTables_length select').addClass("m-wrap xsmall"); // modify table per page dropdown
    });
</script>
<div class="portlet-body">
    <div class="clearfix">
        <div class="btn-group">
            <%= link_to 'New Client', new_client_path, :class=> 'btn green' %>
        </div>
    </div>

    <table class="table table-striped table-hover table-bordered" id="list_table">
        <thead>
          <tr>
            <th>Logo</th>
            <th>Name</th>
            <th>Phone #</th>
            <th>Address</th>
            <th>Email</th>
            <th>Webpage</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody><% @clients.each do |client| %>
              <tr>
                <td><%= image_tag client.avatar.url(:small) %></td>
                <td><%= client.name %></td>
                <td><%= client.phone_number %></td>
                <td><%= client.address %></td>
                <td><%= client.email %></td>
                <td><%= client.webpage %></td>
                <td><%= link_to 'Edit', edit_client_path(client) %></td>
                <td><%= link_to 'Destroy', client, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
                <td><%= link_to 'Select', client %></td>
              </tr>
            <% end %>
            
        </tbody>
    </table>
</div>
<br />


