<%= form_for(@contact_category, :html => { :class => "form-horizontal"}) do |f| %>
  <% if @contact_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_category.errors.count, "error") %> prohibited this contact_category from being saved:</h2>

      <ul>
      <% @contact_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :name, :class=>"m-wrap medium", :placeholder=>"Client Name" %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :type=>"submit", :class=>"btn green" %>
    <%= link_to 'Back', contact_categories_path, :class=>"btn" %>
  </div>
<% end %>
