<div class="portlet">
	<div class="portlet-title">
		<h4>Campaigns</h4>
		<div class="actions">
			<%= link_to raw('<i class="icon-add"></i> Add New'), new_customer_campaign_path(@customer), :class => 'btn grey mini' %>
		</div>
	</div>
	<div class="row-fluid profile portlet-body">
		<% @customer.campaigns.each do |campaign| %>
			<div class="row-fluid portfolio-block">
				<div class="span5 portfolio-text">
					<%= image_tag campaign.avatar.url(:small) %>
					<div class="portfolio-text-info">
						<h4><%= campaign.name %></h4>
						<p><%= campaign.campaign_code %></p>
					</div>
				</div>
				<div class="span5">
					<div class="portfolio-info">
						Final date
						<span><%= campaign.date_ent.nil? ? '' : campaign.date_ent.to_s(:short) %></span>
					</div>
					<div class="portfolio-info">
						Publications
						<span><%= campaign.publications.count %></span>
					</div>
				</div>
				<div class="span2 portfolio-btn">
					<%= link_to raw('<span>Ingresar</span>'), campaign, :class => 'btn bigicn-only' %>
				</div>
			</div>
		<% end %>
	</div>
</div>
