<% title(@customer.name) %>
<% subtitle('Customer')%>

<p id="notice"><%= notice %></p>

<div class="row-fluid">
	<div class="span6">
	</div>
	<div class="span6">
		<div class="span12">
			Contact: <span class="lead"><%= @customer.maincontact %></span>
		</div>
	</div>
</div>
<br/>
<div class="row-fluid">
	<%= render :partial => 'campaign_selection' %>
</div>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', dashboards_path %>
