  <div class="row-fluid profile">
    <div class="span12">
      <!--BEGIN TABS-->
      <div class="tabbable tabbable-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab_1_1" data-toggle="tab">Profile Info</a></li>
          <li><a href="#tab_1_2" data-toggle="tab">Account</a></li>
          <li><a href="#tab_1_3" data-toggle="tab">Projects</a></li>
          <li><a href="#tab_1_4" data-toggle="tab">Help</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane profile-classic row-fluid active" id="tab_1_1">
            <div class="span2"><%= image_tag @user_profile.avatar.url(:medium)%><a href="#" class="profile-edit">edit</a></div>
                  <ul class="unstyled span10">
                    <li><span>Email:</span> <%= @user.email %></li>
                    <li><span>First Name:</span> <%= @user_profile.first_name %></li>
                    <li><span>Last Name:</span> <%= @user_profile.last_name %></li>
                    <li><span>Country:</span> <%= @user_profile.country %></li>
                    <li><span>Birthday:</span> <%= @user_profile.birthdate %></li>
                    <li><span>Phone Number:</span> <%= @user_profile.phone %></li>
                    <li><span>Mobile Number:</span> <%= @user_profile.cellphone %></li>
                  </ul>
          </div>
          <div class="tab-pane row-fluid profile-account" id="tab_1_2">
            <div class="row-fluid">
              <div class="span12">
                <div class="span3">
                  <ul class="ver-inline-menu tabbable margin-bottom-10">
                    <li class="active">
                      <a data-toggle="tab" href="#tab_1-1">
                      <i class="icon-cog"></i> 
                      Personal info
                      </a> 
                      <span class="after"></span>                                 
                    </li>
                    <li class=""><a data-toggle="tab" href="#tab_2-2"><i class="icon-picture"></i> Change Avatar</a></li>
                    <li class=""><a data-toggle="tab" href="#tab_3-3"><i class="icon-lock"></i> Change Password</a></li>
                    <li class=""><a data-toggle="tab" href="#tab_4-4"><i class="icon-eye-open"></i> Privacity Settings</a></li>
                  </ul>
                </div>
                <div class="span9">
                  <div class="tab-content">
                    <div id="tab_1-1" class="tab-pane active">
                      <div style="height: auto;" id="accordion1-1" class="accordion collapse">
                        <!-- Form goes here -->
                        <%= form_for(@user_profile) do |f| %>
                          <% if @user_profile.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(@user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

                              <ul>
                              <% @user_profile.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                              <% end %>
                              </ul>
                            </div>
                          <% end %>

                          <%= f.label :first_name, :class=>'control-label' %>
                          <%= f.text_field :first_name, :class => 'm-wrap span8', :placeholder => 'John' %>
                          <%= f.label :last_name, :class=>'control-label' %>
                          <%= f.text_field :last_name, :class => 'm-wrap span8', :placeholder => 'Doe' %>
                          <%= f.label :birthdate, :class=>'control-label' %>
                          <div class="control-group">
                            <div class="input-append date date-picker" data-date="01/01/2013" data-date-format= "dd/mm/yyyy" data-date-viewmode="years">
                              <%= f.text_field :birthdate, :class => 'm-wrap m-ctrl-medium date-picker'%><span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                          </div>
                          <%= f.label :country, :class=>'control-label' %>
                          <div class="controls">
                            <%= f.text_field :country, :class => 'm-wrap span8', :placeholder => 'Start typing your country', 'data-provide'=>"typeahead", 'data-items'=>'6', 'data-source'=> Carmen::Country.all.collect {|x| x.name}.to_s %>
                          </div>
                          <%= f.label :address, :class=>'control-label' %>
                          <%= f.text_area :address, :class => 'm-wrap span8', :rows => 4, :placeholder => '1st Street' %>
                          <%= f.label :phone, :class=>'control-label', :placeholder=>'+504 2999-9999' %>
                          <%= f.text_field :phone, :class => 'm-wrap span8', :placeholder=>'+504 2999-9999' %>
                          <%= f.label :cellphone, :class=>'control-label', :placeholder=>'+504 2999-9999' %>
                          <%= f.text_field :cellphone, :class => 'm-wrap span8', :placeholder=>'+504 2999-9999' %>
                          <%= f.text_field :user_id %>
                          <div class="submit-btn">
                            <%= f.button :type=>"submit", :class=>"btn green" %>
                          </div>
                          <% end %>
                      </div>
                    </div>
                    <div id="tab_2-2" class="tab-pane">
                      <div style="height: auto;" id="accordion2-2" class="accordion collapse">
                        <%= form_for(@user_profile) do |f| %>
                          <div class="controls">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                              <div class="fileupload-new thumbnail" style="width: 310px; height: 310px;">
                                 <img src="<%= !@user_profile.avatar.file? ? "http://www.placehold.it/310x310/EFEFEF/AAAAAA&amp;text=no+image" : @user_profile.avatar.url()%>" alt="" />
                              </div>
                              <div class="space10"></div>
                              <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 310px; max-height: 310px; line-height: 20px;"></div>
                              <div>
                                 <span class="btn btn-file"><span class="fileupload-new">Select image</span>
                                 <span class="fileupload-exists">Change</span>
                                    <%= f.file_field :avatar, :class => 'default' %>
                                  </span>
                                 <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                              </div>
                           </div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="controls">
                            <span class="label label-important">Image Size!</span>
                            <span>The image is preferred on a 310x310px size.</span>
                          </div>
                          <div class="space10"></div>
                          <div class="submit-btn">
                            <%= f.button :type=>"submit", :class=>"btn green" %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                    <div id="tab_3-3" class="tab-pane">
                      <div style="height: auto;" id="accordion3-3" class="accordion collapse">
                        <%= form_for(@user, :url => { :action => "update_password", :user_id => @user.id } ) do |f| %>
                          <%= f.label :current_password, :class=>'control-label' %>
                          <%= f.password_field :current_password, :autocomplete => "off", :class => "m-wrap span8" %>
                          <%= f.label :password, "Password", :class=>'control-label' %>
                          <%= f.password_field :password, :autocomplete => "off", :class => "m-wrap span8"  %>
                          <%= f.label :password_confirmation, :class=>'control-label' %>
                          <%= f.password_field :password_confirmation, :autocomplete => "off", :class => "m-wrap span8" %>
                          <div class="submit-btn">
                            <%= f.button :type=>"submit", :class=>"btn green" %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab_1_3">
          </div>
          <div class="tab-pane row-fluid" id="tab_1_4">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
