<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>The publication: <%= @publication.code %> is pending your approval</h1>
    <table>
      <tr>
        <td colspan="2"><%= @publication.code + " - " + @publication.name %></td>
      </tr>
      <tr>
        <td style="width: 50%">
          Image goes here
        </td>
        <td>
          <table>
            <tr>
              <td>Title:</td>
              <td><%= @publication.pub_title %></td>
            </tr>
            <tr>
              <td>Bio:</td>
              <td><%= @publication.pub_bio %></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td><%= link_to('Approve', new_publication_approval_path(@publication, :only_path => false)) %></td>
      </tr>
    </table>

    <p>Thanks and have a great day!</p>
  </body>
</html>