<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>The publication: <%= @publication.code %> was Rejected by <%= @approval.user.user_profile.first_name %> Please review the publication at <%= link_to @publication.code, @publication %> </h1>
    <table>
      <tr>
        <td colspan="2"><%= @publication.code + " - " + @publication.name %></td>
      </tr>
      <tr>
        <td style="width: 50%">
          <%= image_tag "http://pixms.pixelabapps.com" + @publication.pub_image.url(:large) %>
        </td>
        <td>
          <table>
            <tr>
              <td>Title:</td>
              <td><%= @publication.pub_title %></td>
            </tr>
            <tr>
              <td>Bio:</td>
              <td><%= @publication.pub_bio %></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <a href='<%= "http://pixms.pixelabapps.com/publications/" + @publication.id.to_s %>'>
            Open Publication
          </a>
        </td>
      </tr>
    </table>

    <p>Thanks and have a great day!</p>
  </body>
</html>