<%= form_for(@customer_contact) do |f| %>
  <% if @customer_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_contact.errors.count, "error") %> prohibited this customer_contact from being saved:</h2>

      <ul>
      <% @customer_contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :contact_category_id %><br />
    <%= f.number_field :contact_category_id %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_field :bio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
