<% title(@campaign.campaign_code + ' - ' + @campaign.name) %>
<% subtitle(@campaign.customer.name)%>

<div class="row-fluid">
  <div class="span3">
    <div class="portfolio-info">
        Start Date
        <span><%= @campaign.date_start%></span>
    </div>
  </div>
  <div class="span3">
    <div class="portfolio-info">
        End Date
        <span><%= @campaign.date_ent %></span>
    </div>
  </div>
  <div class="span3">
    <div class="portfolio-info">
        Initial Budget
        <span><%= @campaign.initial_budget %></span>
    </div>
  </div>
  <div class="span3">
    <div class="portfolio-info">
        Current Budget
        <span><%= @campaign.current_budget %></span>
    </div>
  </div>
</div>

<div class="row-fluid">
  <%= render :partial => 'publication_selection' %>
</div>


<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
