<!DOCTYPE html>
<html>
<head>
	<title>Pixms</title>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<link rel="shortcut icon" href="favicon.ico" />
	<%= stylesheet_link_tag "style.css", 
	"../plugins/bootstrap/css/bootstrap.min.css", 
	"../plugins/bootstrap/css/bootstrap-responsive.min.css", 
	"../plugins/bootstrap-fileupload/bootstrap-fileupload.css", 
	"../plugins/font-awesome/css/font-awesome.css", 
	"../plugins/glyphicons/css/glyphicons.css", 
	"../plugins/glyphicons_halflings/css/halflings.css", 
	"style-responsive.css", 
	"style-metro.css", 
	"themes/default.css", 
	"pages/search.css", 
	"../plugins/gritter/css/jquery.gritter.css", 
	"../plugins/uniform/css/uniform.default.css", 
	"../plugins/bootstrap-datepicker/css/datepicker.css",
	"../plugins/bootstrap-timepicker/compiled/timepicker.css",
	"../plugins/bootstrap-daterangepicker/daterangepicker.css", 
	"../plugins/fullcalendar/fullcalendar/fullcalendar.css", 
	"../plugins/bootstrap-datetimepicker/css/datetimepicker.css",
	"../plugins/jqvmap/jqvmap/jqvmap.css",
	"../plugins/data-tables/DT_bootstrap.css",
	"../plugins/chosen-bootstrap/chosen/chosen.css",
	"../plugins/jquery-tags-input/jquery.tagsinput.css",
	"../plugins/uniform/css/uniform.default.css" %>
  	
  	<%= javascript_include_tag "app.js",
  	"index.js",
  	"table-managed.js",
  	"form-components.js",
  	"../plugins/jquery-1.8.3.min.js",
  	"../plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js",
  	"../plugins/breakpoints/breakpoints.js",
  	"../plugins/jquery-slimscroll/jquery.slimscroll.min.js",
  	"../plugins/fullcalendar/fullcalendar/fullcalendar.min.js",
  	"../plugins/bootstrap/js/bootstrap.min.js",
  	"../plugins/bootstrap-fileupload/bootstrap-fileupload.js",
  	"../plugins/jquery.blockui.js",
  	"../plugins/jquery.cookie.js",
  	"../plugins/jquery-tags-input/jquery.tagsinput.min.js",
  	"../plugins/gritter/js/jquery.gritter.js",
  	"../plugins/uniform/jquery.uniform.min.js",
  	"../plugins/jquery.pulsate.min.js",
  	"../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js",
  	"../plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js",
  	"../plugins/bootstrap-daterangepicker/date.js",
  	"../plugins/bootstrap-daterangepicker/daterangepicker.js",
  	"../plugins/select2/select2.min.js",
  	"../plugins/data-tables/jquery.dataTables.js",
  	"../plugins/data-tables/DT_bootstrap.js",
  	"../plugins/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons.js",
  	"../plugins/chosen-bootstrap/chosen/chosen.jquery.min.js",
  	"../plugins/glyphicons/scripts/modernizr.js",
  	"../plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"
  	 %>
  	<%= csrf_meta_tags %>
</head>
<!-- body>

</body -->
<!-- BEGIN BODY -->
<body class="fixed-top">
	<!-- BEGIN HEADER -->
	<div class="header navbar navbar-inverse navbar-fixed-top">
		<!-- BEGIN TOP NAVIGATION BAR -->
		<div class="navbar-inner">
			<div class="container-fluid">
				<!-- BEGIN LOGO -->
				<a class="brand" href="index.html">
				<img src="/assets/logo.png" alt="logo" />
				</a>
				<!-- END LOGO -->
				<!-- BEGIN RESPONSIVE MENU TOGGLER -->
				<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
				<img src="/assets/menu-toggler.png" alt="" />
				</a>          
				<!-- END RESPONSIVE MENU TOGGLER -->				
				<!-- BEGIN TOP NAVIGATION MENU -->					
				<ul class="nav pull-right">
					<!-- BEGIN NOTIFICATION DROPDOWN -->	
					<li class="dropdown" id="header_notification_bar">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-warning-sign"></i>
						<% @pending_approvals = Publication.find(:all, :conditions => { :current_approver => current_user.email }) %>
						<% if @pending_approvals.count > 0 %>
							<span class="badge"><%= @pending_approvals.count %></span>
						<% end %>
						</a>
						<ul class="dropdown-menu extended notification">
							<li>
								<p>You have <%= @pending_approvals.count %> new pending approvals</p>
							</li>
							<% @pending_approvals.each do |publication| %>
								<li>
									<%= link_to raw('<span class="label label-success"><i class="icon-plus"></i></span>' + publication.code + ' - ' + publication.name + '<span class="time"></span>'), new_publication_approval_path(publication)%>
								</li>
							<% end %>
							
							
							<li class="external">
								<a href="#">See all notifications <i class="m-icon-swapright"></i></a>
							</li>
						</ul>
					</li>
					<!-- END NOTIFICATION DROPDOWN -->
					<!-- BEGIN INBOX DROPDOWN -->
					<li class="dropdown" id="header_inbox_bar">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-envelope-alt"></i>
						<span class="badge"></span>
						</a>
						<ul class="dropdown-menu extended inbox">
							<li>
								<p>You have 0 new messages</p>
							</li>
							<li class="external">
								<a href="#">See all messages <i class="m-icon-swapright"></i></a>
							</li>
						</ul>
					</li>
					<!-- END INBOX DROPDOWN -->
					<!-- BEGIN TODO DROPDOWN -->
					<li class="dropdown" id="header_task_bar">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-tasks"></i>
						<span class="badge"></span>
						</a>
						<ul class="dropdown-menu extended tasks">
							<li>
								<p>You have 0 pending tasks</p>
							</li>
							<li class="external">
								<a href="#">See all tasks <i class="m-icon-swapright"></i></a>
							</li>
						</ul>
					</li>
					<!-- END TODO DROPDOWN -->
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<li class="dropdown user">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img alt="" src="<%= !current_user.user_profile.nil? and !current_user.user_profile.avatar.file? ? '/assets/avatar1_small.jpg' : current_user.user_profile.avatar.url(:thumbnail) %>" />
						<span class="username"><%= !current_user.nil? and !current_user.user_profile.nil? ? current_user.user_profile.name : current_user.email %></span>
						<i class="icon-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to raw('<i class="icon-user"></i> My Profile'), :controller => "user_profiles", :action => "edit", :id => current_user.id
							%> 
							</li>
							<li><a href="calendar.html"><i class="icon-calendar"></i> My Calendar</a></li>
							<li><a href="#"><i class="icon-tasks"></i> My Tasks</a></li>
							<li class="divider"></li>
							<li><%= link_to(raw('<i class="icon-key"></i> Log Out'), destroy_user_session_path, :method => :delete) %></li>
						</ul>
					</li>
					<!-- END USER LOGIN DROPDOWN -->
				</ul>
				<!-- END TOP NAVIGATION MENU -->	
			</div>
		</div>
		<!-- END TOP NAVIGATION BAR -->
	</div>
	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->
	<div class="page-container row-fluid">
		<!-- BEGIN SIDEBAR -->
			<div class="page-sidebar nav-collapse collapse">
				<!-- BEGIN SIDEBAR MENU -->        	
				<ul>
					<li>
						<div class="" id="client-logo">
							<%= image_tag session[:client].avatar.url(:medium) if !session[:client].nil? %>
						</div>
					</li>
					<li>
						<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
						<div class="sidebar-toggler hidden-phone"></div>
						<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					</li>
					<li>
						<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
						<form class="sidebar-search">
							<div class="input-box">
								<a href="javascript:;" class="remove"></a>
								<input type="text" placeholder="Search..." />				
								<input type="button" class="submit" value=" " />
							</div>
						</form>
						<!-- END RESPONSIVE QUICK SEARCH FORM -->
					</li>
					<li class="start active ">
						<%= link_to raw('<i class="icon-home"></i><span class="title">Dashboard</span>'), dashboards_path %>
						
						<span class="selected"></span>
						</a>
					</li>
					<li class="">
						<%= link_to raw('<i class="icon-bookmark-empty"></i> 
						<span class="title">Clients</span>'), clients_path %>
					</li>
					<li class="">
						<%= link_to raw('<i class="icon-user"></i> 
						<span class="title">Customers</span>'), customers_path %>
					</li>
					<li class="has-sub ">
						<a href="javascript:;">
						<i class="icon-th-list"></i> 
						<span class="title">Maintenances</span>
						<span class="arrow "></span>
						</a>
						<ul class="sub-menu">
							<li ><%= link_to 'Contact Categories', contact_categories_path %></li>
							<li ><%= link_to 'Publication Status', publication_statuses_path %></li>
							<li ><%= link_to 'Publication Type', publication_types_path %></li>
							<li ><%= link_to 'Approval Process', approval_processes_path %></li>
							<li ><%= link_to 'Users', users_path %></li>
						</ul>
					</li>
				</ul>
				<!-- END SIDEBAR MENU -->
			</div>
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE -->
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div id="portlet-config" class="modal hide">
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button"></button>
					<h3>Widget Settings</h3>
				</div>
				<div class="modal-body">
					<p>Here will be a configuration form</p>
				</div>
			</div>
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->			
						<h3 class="page-title">
							<%= yield(:title) %>				
							<small><%= yield(:subtitle) %></small>
						</h3>
						<div class="breadcrumb">
							<li>
								<%= link_to raw('<i class="icon-home"></i><span class="title">Dashboard</span>'), :controller => 'dashboard', :action => 'show' %>
								<i class="icon-angle-right"></i>
							</li>
							<%= yield(:breadcrumbs) %>
						</div>
						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<div id="actualContent">
					<% if flash[:notice] %>
				      <p class="notice"><%= flash[:notice] %></p>
				    <% end %>
				    <% if flash[:error] %>
				      <p class="error"><%= flash[:error] %></p>
				    <% end %>
					<%= yield %>
				</div>
			</div>
			<!-- END PAGE CONTAINER-->		
		</div>
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
	<script>
	jQuery(document).ready(function() {     
            //App.setPage("index");  // set current page
            App.init(); // init the rest of plugins and elements
            TableManaged.init();
            FormComponents.init();
        });

	</script>
	<!-- BEGIN FOOTER -->
	<div class="footer">
		2013 &copy; Pixelab Digital
		<div class="span pull-right">
			<span class="go-top"><i class="icon-angle-up"></i></span>
		</div>
	</div>
	<!-- END FOOTER -->
</body>
<!-- END BODY -->
</html>
